<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>webRTC connection poc</title>
  <link rel="stylesheet" href="styles/connection.css" />
</head>
<body>
<!-- Based on https://github.com/webrtc/samples/tree/gh-pages/src/content/datachannel/basic
     and https://github.com/agilityfeat/memory-webrtc-data-channel
-->
  <div>
      <h1>WebRTC Connection POC</h1>
      <div>
        <button id="connectButton" disabled>Connect</button>
        <button id="disconnectButton" disabled>Disconnect</button>
      </div>
      <h3>Status</h3>

      <div id="statusArea"></div>

      <div class="chatArea">
        <div>
          <h2>Chat</h2>
          <div class="chatArea--messageArea">
            <div id="dataChannelReceive" class="chatArea--messages"></div>
          </div>
        </div>
        <div id="send">
          <input id="dataChannelSend" type="text" name="chatinput" autocomplete="off" disabled/>
          <button id="sendButton" type="submit" disabled>Send</button>
        </div>
      </div>
  </div>
  
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="scripts/connection.js"></script>

</body>
</html>
