<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jago</title>
  <link rel="stylesheet" type="text/css" href="/styles/game.css"/>
</head>
<body>
  <main>
    <header>
      <h1>Jago</h1>

      <section>
        <h3>Status</h3>

        <div id="statusArea"></div>
      </section>
    </header>

    <section class="gameArea">

      <section class="gameArea__score">
        Black<br/>
        <span id="black-captures">0</span>
      </section>
      <section class="boardArea">
        <div id="board"></div>
        <button id="passButton" class="button__pass" name="pass">Pass</button>
      </section>
      <section class="gameArea__score">
        White<br/>
        <span id="white-captures">0</span>
      </section>

      <section class="chatArea">
        <div>
          <h2>Chat</h2>
          <div class="chatArea--messageArea">
            <div id="dataChannelReceive" class="chatArea--messages"></div>
          </div>
        </div>
        <div id="send">
          <input id="dataChannelSend" class="chatInput" type="text" name="chatinput" autocomplete="off" disabled/>
          <button id="sendButton" type="submit" disabled>Send</button>
        </div>
      </section>
    </section>

  </main>


  <!-- Libraries -->
  <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/scripts/jgoboard-latest.js"></script>
  <script type="text/javascript" src="/large/board.js"></script>
  <script type="text/javascript" src="/medium/board.js"></script>

  <!-- Custom code -->

  <script type="text/javascript" src="/scripts/game.js"></script>
  <script type="text/javascript" src="/scripts/connection.js"></script>

</body>
</html>
