<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jago</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
</head>
<body>
  <main>
    <header>
      <h1>Jago</h1>

<!-- List of games -->

      <h2>Open Games</h2>
      <ul>
        <% open_games.forEach(function(game) { %>
        <li><a href="/game/<%= game.seq %>">Game #<%= game.seq %></a></li>
        <% }); %>
      </ul>

<!-- End list of games -->

<!-- New game form -->

<form action="/game" method="POST">

  <button name="color" value="white">White</button>
  <button name="color" value="black">Black</button>

</form>

<!-- End new game form -->

  </main>


  <!-- Libraries -->
  <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>


  <!-- Custom code -->
  <script type="text/javascript" src="/scripts/main.js"></script>

</body>
</html>
