/*

  FIXME: For the love of God, get someone who knows what they're doing to do this.

*/

.chatArea {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0 0 10px 0;
  float: right;
  width: 40%;
}

.chatArea--messageArea {
  display: inline-block;
  width: 98%;
  height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  border: 1px solid lightgrey;
}

.chatArea--messages {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
